retry-uninstallable-packages.json
{
  "Comment": "State machine that retries processing of uninstallable packages",
  "StartAt": "Read Uninstallable Report",
  "States": {
    "Read Uninstallable Report": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
      "Parameters": {
        "Bucket": "constructhub-gamma-constructhubpackagedatadc5ef35-qde3kml6fwa5",
        "Key": "uninstallable-objects/data.json"
      },
      "ResultPath": "$.reportResponse",
      "Retry": [
        {
          "ErrorEquals": ["S3.NoSuchKey"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["S3.NoSuchKey"],
          "Next": "No Report Found"
        }
      ],
      "Next": "Parse Report"
    },
    "Parse Report": {
      "Type": "Pass",
      "Parameters": {
        "packages.$": "States.StringToJson($.reportResponse.Body)"
      },
      "ResultPath": "$.parsedReport",
      "Next": "Has Packages?"
    },
    "Has Packages?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.parsedReport.packages[0]",
          "IsPresent": true,
          "Next": "Process Each Package"
        }
      ],
      "Default": "No Packages to Retry"
    },
    "Process Each Package": {
      "Type": "Map",
      "ItemsPath": "$.parsedReport.packages",
      "ResultPath": null,
      "Iterator": {
        "StartAt": "Transform Package Format",
        "States": {
          "Transform Package Format": {
            "Type": "Pass",
            "Parameters": {
              "originalPackage.$": "$",
              "packageName.$": "States.ArrayGetItem(States.StringSplit($, '@'), 0)",
              "packageVersion.$": "States.ArrayGetItem(States.StringSplit($, '@'), 1)"
            },
            "Next": "Retry Package"
          },
          "Retry Package": {
            "Type": "Task",
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Parameters": {
              "StateMachineArn": "arn:aws:states:us-east-1:363076331236:stateMachine:ConstructHub-Gamma.ConstructHub.Orchestration",
              "Input": {
                "bucket": "constructhub-gamma-constructhubpackagedatadc5ef35-qde3kml6fwa5",
                "assembly": {
                  "key.$": "States.Format('data/{}/v{}/assembly.json', $.packageName, $.packageVersion)"
                },
                "metadata": {
                  "key.$": "States.Format('data/{}/v{}/metadata.json', $.packageName, $.packageVersion)"
                },
                "package": {
                  "key.$": "States.Format('data/{}/v{}/package.tgz', $.packageName, $.packageVersion)"
                }
              }
            },
            "Retry": [
              {
                "ErrorEquals": ["StepFunctions.ExecutionLimitExceeded"],
                "IntervalSeconds": 60,
                "MaxAttempts": 3,
                "BackoffRate": 2.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "Package Retry Failed",
                "ResultPath": "$.error"
              }
            ],
            "End": true
          },
          "Package Retry Failed": {
            "Type": "Pass",
            "Parameters": {
              "package.$": "$.originalPackage",
              "prefix.$": "States.Format('data/{}/v{}', $.packageName, $.packageVersion)",
              "error.$": "$.error"
            },
            "End": true
          }
        }
      },
      "End": true
    },

    "No Report Found": {
      "Type": "Fail",
      "Error": "NoReportFound",
      "Cause": "Uninstallable packages report not found at uninstallable-objects/data.json"
    },
    "No Packages to Retry": {
      "Type": "Succeed"
    }
  }
}
